
body {
    padding: 1em;
    font-size: medium;
    max-width: 100vw;
    position: relative;
}

.columns {
    display: flex;
    overflow: hidden;
}

.columns > * {
    flex: 1 1 50%;
    margin: 1em 2em;
    width: 100%;
    overflow: hidden;
}

.login-form, .register-form {
    width: 30em;
}

.row {
    margin: 1em;
    position: relative;
}

.row > input {
    width: 100%;
}

#error  {
    color: red;
    margin: 1em;
}

#server-events > .event, #responses > .response {
    margin: .5em 0;
    display: flex;
}

.event > .id, .response > .name {
    flex: 0 0 auto;
    font-weight: bold;
    margin-right: 1em;
}

.event > .data, .response >.data {
    flex: 1 1  auto;
    overflow: auto;
}